:root {
    --color-main: 31, 115, 226;
}

html,
body {
    font-family: 'Roboto', sans-serif;
}

.accent-color {
    color: rgba(var(--color-main));
}


.navbar-brand {
    display: inline-flex;
    padding: 4px;
    background: rgb(220 53 69 / 20%);
    border-radius: 4px;
    font-size: 1rem;
}

.navbar-disclaimer {
    font-size: .6rem;
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b0b4bb;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9d9fa3;
}

.btn-new {
    color: rgba(var(--color-main)) !important;
    transition: 0.3s ease all;
}

.btn-new:hover {
    background-color: rgba(var(--color-main), .2);
}



.sidepanel {
    height: 100vh;
    width: 22vw;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    border-left: solid 2px #dee2e6;
    z-index: 999;
}

.sidepanel-scroll {
    height: calc(100vh - 240px);
    overflow-y: scroll;
}

@media screen and (max-width: 1600px) {
    .sidepanel {
        width: 30vw;
    }
}

@media screen and (max-width: 1199px) {
    .sidepanel {
        width: 100vw;
    }
}

#main-tabs .nav-link {
    color: #777;
}

#main-tabs .nav-link:hover:hover:not(.active) {
    color: rgba(var(--color-main));
    background-color: rgba(var(--color-main), .2);
    border-radius: 6px;
}


#main-tabs .nav-link.active {
    color: rgba(var(--color-main));
    border-bottom: 3px solid;
    font-weight: 500;
}

#sub-tabs {
    font-size: .85rem;
    background-color: #f5f6f7;
}

#sub-tabs .nav-link {
    padding: .2rem .6rem;
    border-radius:60px;
}

#sub-tabs .nav-link:hover:not(.active){
    background-color: rgba(var(--color-main), .2);

}

#sub-tabs .selection{
    font-size: .85rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    background-position: right center;
    padding-right: 1.25rem;
    width:auto;

}

#doc-title-container{
    background-color: #f5f6f7;
}

#card-container{
    background-color: #f5f6f7;
    padding-bottom: 7.225rem;
    min-height: 100%;
    max-height: max-content;
}

.card-name {
    color: rgba(var(--color-main));
    font-weight: 500;
    cursor: pointer;
}

.card-details {
    font-size: .9rem;
}

.card:hover{
    /* background-color: rgba(var(--color-main), .02); */
    border: 1px solid rgba(var(--color-main), 1) !important;
    box-shadow: 2px 4px 18px #ddd;
    /* transform: translate(0,-2px); */
}

.cut-item{
    background-color: rgba(var(--color-main), .02);
    border: 1px dashed rgba(var(--color-main), 2) !important;
}

.doc-title-header:hover{
    cursor: pointer;
    background-color: rgba(13, 110, 253, 0.1);
    border-radius: 6px;
    color:rgba(var(--color-main))
}

#bread-crumb .link-primary{
    font-size: .8rem;
}

#quick-nav-button{
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 1500;
}

#plus-options{
    position: absolute;
    right: 20px;
}

#plus-options .dropdown-toggle::after {
   display: none;
}

.dropdown-menu {
    width: max-content;
    border: 1px solid #dee;
    box-shadow: 2px 4px 18px #ddd;
    /* inset: auto 0px 6px auto !important; */
    transform: none !important;
    border-radius: 12px;
 }

 .dropdown-menu li>button{
     width: -webkit-fill-available;
 }

#quick-nav-panel{
    width: 18vw;
    border: 1px solid #dee;
    background: #fff;
    border-radius: 12px;
    box-shadow: 2px 4px 18px #ddd;
    overflow: hidden;
}

.bd-links {
    overflow: auto;
    height: 55vh;
    font-weight: 500;
  }
  
  /* .bd-links {
    position: -webkit-sticky;
    position: sticky;
    top: 0.5rem;
    width: 12vw;
    overflow-y: auto;
  } */
  
  @media (max-width:1600px) {
      #quick-nav-panel{
          width: 25vw;
      }
      .bd-links{
          width: 20vw;
      }  
  }
  
  @media (max-width:1024px) {
    #quick-nav-panel{
      position: absolute;
      width: 90vw;
      bottom: 0;
    right: 0;

    }
      .bd-links{
          width: 100%;
      }  
  }
  
  /* @media (max-width: 767.98px) {
      .bd-links>ul {
          padding:1.5rem .75rem;
          background-color: #f8f9fa;
          border-bottom: 1px solid #e9ecef
      }
  } */
  
  .bd-links a {
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.25rem;
    color: rgba(0, 0, 0, 0.65);
    text-decoration: none;
  }
  
  .bd-links a:hover,
  .bd-links a:focus {
    color: rgba(0, 0, 0, 0.85);
    background-color: rgba(13, 110, 253, 0.1);
  }

  .bd-links .hover{
    padding: 0.25rem 0.5rem;
    font-weight: 500;
    font-size: .85rem;
    color: rgba(0, 0, 0, 0.65);
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
  .bd-links .hover:hover,
  .bd-links .hover:focus {
    color: rgba(0, 0, 0, 0.85);
    background-color: rgba(13, 110, 253, 0.1);
  }
  
  .bd-links .hover:focus {
    box-shadow: 0 0 0 1px rgba(13, 110, 253, 0.2);
  }

  .bd-links .btn{
      padding: .375rem;
  }
  
  .bd-links .btn::before {
      display: block;
    width: 1.25em;
    line-height: 0;
    content: url("../img/download.svg");
    transition: transform 0.35s ease;
    transform-origin: 0.5em 50%;
  }
  
  .bd-links .btn[aria-expanded="true"] {
    color: rgba(0, 0, 0, 0.85);
  }
  
  .bd-links .btn[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }

  .bd-links .btn:focus{
      box-shadow: none;
  }
  
  .bd-links .active {
    background-color: rgba(13, 110, 253, 0.1);
  }

  .btn-quick{
      border-radius: 60px;
      box-shadow: 2px 4px 18px #ddd;
  }

  .litebox-panel{
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      z-index:9999;
      background-color: rgba(0, 0, 0, 0.65);
      backdrop-filter:blur(4px);
      height: 100%;
      width: 100%;   
  }

  .litebox-panel .litebox{
      margin-top: auto;
    border: 1px solid #dee;
    background: #fff;
    border-radius: 12px;
    box-shadow: 2px 4px 18px rgba(255,255,255,0.2);
  }

  